In [2]:
pip install pandas

Requirement already satisfied: pandas in /Users/cagri/opt/anaconda3/lib/python3.9/site-packages (2.0.2)
Requirement already satisfied: numpy>=1.20.3 in /Users/cagri/opt/anaconda3/lib/python3.9/site-packages (from pandas) (1.24.3)
Requirement already satisfied: tzdata>=2022.1 in /Users/cagri/opt/anaconda3/lib/python3.9/site-packages (from pandas) (2023.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/cagri/opt/anaconda3/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/cagri/opt/anaconda3/lib/python3.9/site-packages (from pandas) (2022.7)
Requirement already satisfied: six>=1.5 in /Users/cagri/opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
pip install numpy

Requirement already satisfied: numpy in /Users/cagri/opt/anaconda3/lib/python3.9/site-packages (1.24.3)
Note: you may need to restart the kernel to use updated packages.

In [6]:
import pandas as pd
import numpy as np

In [21]:
df = pd.read_csv("/Users/cagri/Desktop/datajob/datajob_april2023/kaggle_survey_2020_responses.csv", low_memory=False)

In [26]:
df.head()

,Time from Start to Finish (seconds),Q1,Q2,Q3,Q4,Q5,Q6,Q7_Part_1,Q7_Part_2,Q7_Part_3,...,Q35_B_Part_2,Q35_B_Part_3,Q35_B_Part_4,Q35_B_Part_5,Q35_B_Part_6,Q35_B_Part_7,Q35_B_Part_8,Q35_B_Part_9,Q35_B_Part_10,Q35_B_OTHER
0,Duration (in seconds),What is your age (# years)?,What is your gender? - Selected Choice,In which country do you currently reside?,What is the highest level of formal education ...,Select the title most similar to your current ...,For how many years have you been writing code ...,What programming languages do you use on a reg...,What programming languages do you use on a reg...,What programming languages do you use on a reg...,...,"In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor..."
1,1838,35-39,Man,Colombia,Doctoral degree,Student,5-10 years,Python,R,SQL,...,NaN,NaN,NaN,TensorBoard,NaN,NaN,NaN,NaN,NaN,NaN
2,289287,30-34,Man,United States of America,Master’s degree,Data Engineer,5-10 years,Python,R,SQL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,860,35-39,Man,Argentina,Bachelor’s degree,Software Engineer,10-20 years,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,507,30-34,Man,United States of America,Master’s degree,Data Scientist,5-10 years,Python,NaN,SQL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
df.dtypes

Time from Start to Finish (seconds)    object
Q1                                     object
Q2                                     object
Q3                                     object
Q4                                     object
                                        ...
Q35_B_Part_7                           object
Q35_B_Part_8                           object
Q35_B_Part_9                           object
Q35_B_Part_10                          object
Q35_B_OTHER                            object
Length: 355, dtype: object